name: Release

on:
  release:
    types: [created]

jobs:
  build:
    uses: ./.github/workflows/build.yml
    secrets:
      ALPINE_KEY: ${{ secrets.ALPINE_KEY }}

  release:
    needs: build
    runs-on: macos-latest
    steps:
      - name: "Download artifacts"
        uses: actions/download-artifact@v4
        with:
          pattern: packages-*
          path: packages

      - name: "Upload artifacts"
        run: |
          for f in `find packages -depth 2`; do
            echo "Uploading: $f ($(file -b --mime-type $f))"
            curl --fail-with-body --retry-all-errors --retry 5 \
              -H "Authorization: token $GITHUB_TOKEN" \
              -H "Content-Type: $(file -b --mime-type $f)" \
              --data-binary @$f \
              "$RELEASE_ASSETS_UPLOAD_URL?name=$(basename $f)"
          done
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          RELEASE_ASSETS_UPLOAD_URL: https://uploads.github.com/repos/${{ github.event.repository.full_name}}/releases/${{ github.event.release.id }}/assets
        shell: bash
